@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    <div class="row">
        <div class="col-sm-6">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src=" " alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title">Título do card</h5>
                    <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo do card.</p>
                    <a class="btn btn-primary" asp-area="" asp-controller="Product" asp-action="Create">Cadastrar Produto</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src=".../100px180/" alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title">Título do card</h5>
                    <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo do card.</p>
                    <a class="btn btn-primary" asp-area="" asp-controller="Shipping" asp-action="Index">Remessas</a>
                </div>
            </div>
        </div>
    </div>
}

