@model JavaTech3.ViewModels.VMProductUser




@{
    ViewData["Title"] = "List";
}

<h1>List</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="row">
    @foreach (var item in Model.ProductsUsers)
    {
        <div class="col-sm-6">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src=".../100px180/" alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title">@item.Product.Name</h5>
                    <p class="card-text">Quantidade @item.Quantity</p>
                    <input type="number" class="form-control col-sm-6" id="input1" placeholder="enter amount">
                    <a asp-controller="Product_User" asp-action="Create" asp-route-id="@item.Id">Distribute</a>
                    
                </div>
            </div>
        </div>
    }
</div>




    